.about-me-container {
  width: 100vw;
  color: white;
  text-align: justify;
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
  padding: 0 5rem 0 1rem;
}
.about-me-img {
  flex: 5;
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 6rem;
  margin-left: 5rem;
}
.about-me-title {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.about-me-description {
  flex: 7;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 2rem 1rem 0;
}
.about-me-sub-topics {
  font-size: 1.5rem;
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me-img {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
  }
  .about-me-title {
    font-size: 2.5rem;
    text-align: center;
  }
  .about-me-description {
    font-size: 0.8rem;
    width: 90%;
    margin-left: 2rem;
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me-img {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
  }
  .about-me-title {
    font-size: 2.5rem;
    text-align: center;
  }
  .about-me-description {
    font-size: 0.8rem;
    width: 90%;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 425px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
  }
  .about-me-title {
    font-size: 2rem;
    text-align: center;
  }
  .about-me-img-container {
    margin-bottom: 0;
    object-fit: cover;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .about-me-img {
    margin: 0;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
  }
  .about-me-description {
    color: white;
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: -2rem;
  }
  .about-me-sub-topics {
    font-size: 1.3rem;
  }
}
