/* Card.css */

.card {
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(63, 81, 181, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2),
    0 20px 40px rgba(63, 81, 181, 0.6);
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-description {
  font-size: 0.8rem;
  font-weight: 250;
  width: 100%;
  height: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

@media (max-width: 750px) {
  .card {
    width: 250px;
    height: 300px;
  }
}
