.technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 7%;
  padding-right: 5%;
  margin-top: 0.6rem;
  gap: 2rem;
}
.technologies-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.technologies-title {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 400px) {
  .technologies-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .technologies-title {
    font-size: 2rem;
  }
  .technologies-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
