.hero-container {
  display: flex;
  margin-top: 5rem;
  margin-right: 5%;
}
.person-img {
  border-radius: 10px;
  object-fit: cover;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(63, 81, 181, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.person-img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2),
    0 20px 40px rgba(63, 81, 181, 0.6);
  transform: scale(1.05);
}

.hero-content {
  margin-top: 6%;
  padding-right: 5rem;
  padding-left: 5rem;
}
.hero-title {
  display: inline-block;
  font-weight: 600;
  color: white;
  font-size: 3rem;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(20, end) infinite alternate;
}
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fcfcfc;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.hero-description {
  color: white;
}
.hero-button {
  background: transparent;
  box-shadow: 0 0 10px rgba(63, 81, 181, 0.3);
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: glow 2.5s infinite alternate;
}
@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3),
      0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3);
  }
  50% {
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6),
      0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6);
  }
}

.hero-button:hover {
  box-shadow: 0 0 10px rgba(63, 81, 181, 0.6);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
/*for desltop*/
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .hero-container {
    display: flex;
    margin-top: 5rem;
  }
  .person-img {
    border-radius: 10px;
    width: 300px;
    object-fit: cover;
    margin-right: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(63, 81, 181, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  .person-img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2),
      0 20px 40px rgba(63, 81, 181, 0.6);
    transform: scale(1.05);
  }

  .hero-content {
    margin-top: 6%;
    padding-left: 4.5rem;
  }
  .hero-title {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 3rem;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(20, end) infinite alternate;
  }
  @keyframes cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fcfcfc;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }

  .hero-description {
    color: white;
    width: 78%;
  }
  .hero-button {
    background: transparent;
    box-shadow: 0 0 10px rgba(63, 81, 181, 0.3);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: glow 2.5s infinite alternate;
  }
  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3),
        0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3);
    }
    50% {
      box-shadow: 0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6),
        0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6);
    }
  }

  .hero-button:hover {
    box-shadow: 0 0 10px rgba(63, 81, 181, 0.6);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}
/*for laptops*/
@media only screen and (min-width: 1024px) {
  .person-img {
    width: 450px;
    object-fit: cover;
    margin-right: 10px;
  }

  .hero-title {
    display: inline-block;
    font-weight: 500;
    color: white;
    font-size: 3rem;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(20, end) infinite alternate;
  }
  @keyframes cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fcfcfc;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    display: none;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
  .person-img {
    order: -1;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(63, 81, 181, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 50%;
    object-fit: cover;
  }
  .person-img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2),
      0 20px 40px rgba(63, 81, 181, 0.6);
    transform: scale(1.05);
  }

  .hero-content {
    margin-top: 6%;
    text-align: justify;
    padding-left: 5%;
  }
  .hero-title {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 2rem;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(25, end) infinite alternate;
  }
  @keyframes cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fcfcfc;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 48%;
    }
  }

  .hero-description {
    color: white;
    font-size: 1rem;
    width: 90%;
  }
  .hero-button {
    background: transparent;
    box-shadow: 0 0 10px rgba(63, 81, 181, 0.3);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: glow 2.5s infinite alternate;
  }
  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3),
        0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3);
    }
    50% {
      box-shadow: 0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6),
        0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6);
    }
  }
  .hero-button:hover {
    box-shadow: 0 0 10px rgba(63, 81, 181, 0.6);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
  .person-img {
    order: -1;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(63, 81, 181, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 50%;
    object-fit: cover;
    margin-top: 30px;
  }
  .person-img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2),
      0 20px 40px rgba(63, 81, 181, 0.6);
    transform: scale(1.05);
  }
  .hero-content {
    margin-top: 6%;
    text-align: justify;
  }
  .hero-title {
    display: inline-block;
    font-weight: 500;
    color: white;
    font-size: 1.5rem;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(25, end) infinite alternate;
  }
  @keyframes cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fcfcfc;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }

  .hero-description {
    color: white;
    font-size: 1rem;
    width: 100%;
  }
  .hero-button {
    background: transparent;
    box-shadow: 0 0 10px rgba(63, 81, 181, 0.3);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: glow 2.5s infinite alternate;
  }
  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3),
        0 0 5px rgba(63, 81, 181, 0.3), 0 0 5px rgba(63, 81, 181, 0.3);
    }
    50% {
      box-shadow: 0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6),
        0 0 5px rgba(63, 81, 181, 0.6), 0 0 5px rgba(63, 81, 181, 0.6);
    }
  }
  .hero-button:hover {
    box-shadow: 0 0 10px rgba(63, 81, 181, 0.6);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}
