/* Base Styles */
.not-scrolled {
  background-color: black;
}

/* Glass Effect for Scrolled State */
.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

/* Underline Animation */
.underline-animation {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Navbar Menu Icon */
.navbar-menu-icon {
  display: block;
  cursor: pointer;
  font-size: 1rem; /* Reduced size for a more compact appearance */
  color: white;
}

/* Hide the navbar links by default on small screens */
.navbar-menu {
  display: none;
}

.navbar-open {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Reduced gap between items */
  align-items: center;
}

/* Only display the menu on mobile when it is open */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    position: absolute;
    top: 60px; /* Adjusted to fit the new height */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    padding: 5px 0; /* Reduced padding */
  }

  .navbar-open .navbar-menu {
    display: flex;
  }

  .navbar-menu-icon {
    display: block;
  }
}

/* For larger screens, show the full menu */
@media (min-width: 769px) {
  .navbar-menu-icon {
    display: none;
  }

  .navbar-menu {
    display: flex;
    gap: 12px; /* Reduced gap */
    justify-content: center;
    width: 100%;
  }

  .navbar-open {
    display: flex;
  }
}
